footer{
    display:flex;
    flex-direction:column;
    border-top: 2px solid #39393A;
    @media (max-width:500px){
        width:100%;
        margin:20px 10px;
    }
        a{
            margin-top:20px;
            text-decoration: none;  
            color:#39393A;
            font-size: 1.2rem;
            margin-bottom:15px;
        }
        p{
            text-align: center;
            font-size:1em;
        }
    
}