header{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    margin-top:20px;
    margin-bottom:20px;
    border-bottom: 2px solid #39393A;
    background-image: url("https://imgur.com/vF93JAf");
    nav{
        display:flex;
        justify-content: space-between;
        align-items:center;
        margin:25px 2px;
        a{
            text-decoration: none;
            font-size:2rem;
            color:#39393A;
        }
        button{
            background-color: #FF8552;
            border-radius: 4px;
            font-size:1.4rem;
            padding:10px 30px;
        }
    }
    h1{
        margin-bottom:20px;
    }
    img{
        width: 15%;
        height:15%;

    }
}