header{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    margin-top:20px;
    margin-bottom:20px;
    border-bottom: 2px solid #39393A;
    background-image: url("https://imgur.com/vF93JAf");
    nav{
        display:flex;
        justify-content: space-between;
        align-items:center;
        margin:25px 2px;
        a{
            text-decoration: none;
            font-size:2rem;
            color:#39393A;
            background:#85FFC7;
            border-radius: 8px;
            padding:10px;
            a:hover{
                background:#ED9728;
            }
        }

        a:hover{
            background:#ED9728;
        }
        button{
            background-color: #ED9728;
            border-radius: 4px;
            font-size:1.4rem;
            padding:10px 30px;
        }
    }
    h1{
        margin-bottom:20px;
    }
    img{
        opacity:0.8;
        width: 15%;
        height:15%;

    }
}